
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<h3>Oooops!We seem to have expirienced an error.Please return to the home page and try a different aproach</h3>
@Html.ActionLink("Back to HomePage","Index","Employee")
